/* Определение шрифтов */
@font-face {
  font-family: "Cubic";
  src: url(../fonts/21072.ttf) format("truetype"),
    url(../fonts/21072.ttf.woff) format("woff"),
    url(../fonts/21072.ttf.woff2) format("woff2"),
    url(../fonts/21072.otf) format("opentype");
}

/* Стандартный сброс и применение своих стилей. */

body {
  margin: 0;
  padding: 0;
  font-family: 'Cubic';
  position: relative;
  overflow-x: hidden;
  background-color: #fcf9ee;
}

a:-webkit-any-link {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

/* Header */

header {
  background: url(../images/header_background.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  height: 80vh;
  width: 100vw;
  position: absolute;

}

.header__caption {
  font-size: 100px;
  margin-right: 12%;
  color: #f3b64d;
  text-transform: uppercase;
}

.header__logo {
  height: 50%;
  position: relative;
  bottom: 40%;
  right: 6%;
}

/* Discord's statistics */
.header__statistics {
  height: 10vh;
  margin-top: 20%;
}

.header__statistics__discord--text {
  position: relative;
  left: 10%;
  font-size: 25px;
  text-align: right;
  background: linear-gradient(to left, rgb(248, 109, 248), orange, yellow);
  background-size: contain;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.header__statistics__discord--icon {
  display: block;
  width: 9%;
  height: 9%;
  transition: all .2s linear;
  opacity: .5;
  position: relative;
  left: 12%;
  top: 5%;

  &:hover {
    opacity: .8;
  }
}

/* Server's statistics */
.header__statistics__server {
  position: relative;
  right: 5%;
  top: 20%;
}

.header__statistics__server--text {
  position: relative;
  left: 37%;
  font-size: 30px;
  background: linear-gradient(to right, #f7c97a, violet);
  background-size: contain;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
}

.header__statistics__server--icon {
  display: block;
  width: 9%;
  height: 9%;
  cursor: pointer;
  position: relative;
  left: 36%;
  top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .5;
  transition: all .2s linear;

  &:hover {
    opacity: .8;
  }
}

/* Players`s profile */
.profile__circle__image {
  width: 60%;
  border-radius: 50%;
  margin-left: 2%;
  margin-bottom: 2%;
  outline: none;
}

.profile__menu {
  height: 150%;
  background: linear-gradient(to top, #f7c97a, violet);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.8;
  visibility: hidden;
  position: absolute;
  top: 110%;
  right: 41%;
  border-radius: 5%;
  padding: 3%;

  a {
    font-size: 12px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::after {
      content: '';
      display: block;
      width: 0%;
      height: 1px;
      background-color: #000;
      transition: all .2s linear;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.profile input {
  appearance: none;
}

.profile input:checked~.profile__menu {
  visibility: visible;
}

/* Navigation */
.nav__icons {
  position: relative;
  left: 10%;
  gap: 5%;
}

.nav__icons--circle {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background: linear-gradient(to right, #f7c97a, violet);
  transition: all .1s linear;
  opacity: .7;

  a {
    position: relative;
    top: 5%;
  }

  i {
    color: rgb(36, 34, 34);
  }

  &:hover {
    font-size: 35px;
    opacity: .9;
  }
}

.nav__text {
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  background: linear-gradient(to right, rgb(248, 114, 248), #feb942);
  background-size: contain;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
  position: relative;

  &:after {
    position: absolute;
    background: linear-gradient(to left, rgb(249, 76, 249), #ffa305);
    background-size: contain;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 25px;
    font-weight: 600;
    left: 0;
    width: 0;
    overflow: hidden;
    transition: all .3s linear;
  }

  &:nth-child(1)::after {
    content: "Главная";
  }

  &:nth-child(2)::after {
    content: "Профиль";
  }

  &:nth-child(3)::after {
    content: "Выйти";
  }

  &:hover:after {
    width: 100%;
  }
}

/* Responsive navigation */
.switcher {
  position: absolute;
  visibility: hidden;
  left: -9999px;
}

.close,
.open {
  cursor: pointer;
  display: none;
  font-size: 40px;
  width: 10%;
}

/* Main content */

main {
  height: 150vh;
  background-color: #fcf9ee;
  clip-path: ellipse(100% 100% at 50% 140%);

  .container-fluid {
    position: relative;
    top: 60%;
  }
}

/* News */
.news {
  gap: 2%;
}

.news--caption {
  position: absolute;
  bottom: 120%;
  left: 40%;
}

.news__card {
  display: block;
  height: 450px;
  background-color: #fff;
  padding: 0;
  border-radius: 5%;
  box-shadow: 5px 5px 5px black;

  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3) {
    position: relative;
    right: 0;
  }

  &:nth-of-type(4),
  &:nth-of-type(5),
  &:nth-of-type(6) {
    position: absolute;
    left: 100%;
    opacity: 0;
  }

  .news__card--image {
    width: 100%;
    height: 280px;
    border-radius: 5%;
  }

  .news__card--date {
    width: 40%;
    color: #fff;
    position: absolute;
    bottom: 41%;
    left: 70%;
  }

  figcaption {
    padding-left: 3%;
    padding-top: 3%;
  }

  .news__card--read_more {
    display: inline-flex;
    width: 45%;
    color: #000;
    gap: 1%;
    justify-content: baseline;
    align-items: baseline;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 0%;
      height: 1px;
      background-color: #000;
      transition: all .2s linear;
      position: absolute;
      bottom: 40%;
    }

    &:hover::after {
      width: 80%;
    }
  }
}

/* Chevrons */
.news--chevron_left,
.news--chevron_right {
  position: relative;
  top: 30%;
  font-size: 100px;
}

.news--chevron_right {
  position: absolute;
  left: 90%;
}

@keyframes news_card_right_animation1 {

  0% {
    right: 0;
  }

  50% {
    right: 105%;
  }

  100% {
    opacity: 0;
    position: absolute;
    right: 105%;
  }
}

@keyframes news_card_right_animation2 {

  0% {
    position: relative;
    left: 100%;
  }

  100% {
    position: relative;
    left: 0;
    opacity: 1;
  }
}

.news--chevron_right:focus~.news__card:nth-of-type(1),
.news--chevron_right:focus~.news__card:nth-of-type(2),
.news--chevron_right:focus~.news__card:nth-of-type(3) {
  animation: news_card_right_animation1 0.5s linear forwards;
}

.news--chevron_right:focus~.news__card:nth-of-type(4),
.news--chevron_right:focus~.news__card:nth-of-type(5),
.news--chevron_right:focus~.news__card:nth-of-type(6) {
  animation: news_card_right_animation2 0.5s .25s linear forwards;
}

@keyframes news_card_left_animation1 {

  0% {
    position: relative;
    left: 0;
    opacity: 1;
  }

  50% {
    left: 100%;
  }

  100% {
    opacity: 0;
    position: absolute;
    left: 100%;
  }
}

@keyframes news_card_left_animation2 {

  0% {
    opacity: 0;
    position: relative;
    right: 105%;
  }

  100% {
    position: relative;
    right: 0;
    opacity: 1;
  }
}

.news--chevron_left:focus~.news__card:nth-of-type(1),
.news--chevron_left:focus~.news__card:nth-of-type(2),
.news--chevron_left:focus~.news__card:nth-of-type(3) {
  opacity: 0;
  position: absolute;
  right: 105%;
  transition: none;
  animation: news_card_left_animation2 0.5s 0.5s linear forwards;
}

.news--chevron_left:focus~.news__card:nth-of-type(4),
.news--chevron_left:focus~.news__card:nth-of-type(5),
.news--chevron_left:focus~.news__card:nth-of-type(6) {
  position: relative;
  left: 0;
  opacity: 1;
  animation: news_card_left_animation1 1s linear forwards;
}

footer {
  height: 10vh;
  width: 100vw;
  background-color: #121111;
  color: #fff;
  display: flex;
  align-items: center;

  .copyright {
    position: relative;
    left: 9%;
    margin-top: 1%;
  }

  .author {
    position: relative;
    left: 26%;
    margin-top: 1%;

    span {
      color: darkred;
    }
  }
}


/* Responsive Design */
@media screen and (max-width: 1270px) {

  /* Responsive navigation */
  .open {
    position: relative;
    left: 90%;
  }

  .open,
  .close {
    display: block;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .switcher:checked~nav {
    right: 0;
  }

  /* Navigation */
  nav {
    position: fixed;
    width: 103vw;
    height: 100vh;
    background: linear-gradient(180deg, #00537e, #3aa17e);
    right: -105%;
    top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .7s;
    z-index: 1;

    .nav__texts {
      width: 12%;
      flex-direction: column;

      .nav__text:nth-child(3) {
        width: 75%;
      }

      .nav__text::after {
        bottom: 1%;
      }
    }
  }

  .nav__icons {
    width: 100%;
    position: relative;
    top: 25%;
    left: 42%;
    display: flex;
    gap: 5%;
  }

  /* Profile */
  .profile {
    position: absolute;
    bottom: 1150%;
    right: 130%;
  }

  .profile__menu {
    right: -20%;
  }

  /* Header statistics */
  .header__statistics__discord {
    flex-direction: column-reverse;
    position: relative;
    bottom: 20%;
    right: 5%;

    .header__statistics__discord--icon {
      width: 13%;
      top: -30%;
      left: 50%;
      margin-bottom: 1%;
    }

    .header__statistics__discord--text {
      text-align: center;
      left: 5%;
    }
  }

  .header__statistics__server {
    flex-direction: column-reverse;
    position: relative;
    top: 10%;
    right: 5%;

    .header__statistics__server--text {
      text-align: center;
      left: 5%;
      background: linear-gradient(to right, #f7c97a, rgb(233, 13, 233));
      background-size: contain;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
  }

  .header__statistics__server--icon {
    width: 15%;
    top: -80%;
    left: 50%;
  }

  /* Main content */
  main {
    clip-path: none;

    .container-fluid {
      padding: 30%;
      padding-bottom: 0;
      top: 40%;
    }
  }

  /* News */
  .news--caption {
    bottom: 92%;
    left: 35%;
  }

  .news__card {
    margin-bottom: 10%;

    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6) {
      position: relative;
      left: 0;
      opacity: 1;
    }

    .news__card--read_more::after {
      bottom: 10%;
    }
  }

  /* Chevrons */
  .news--chevron_left,
  .news--chevron_right {
    display: none;
  }

  /* Footer */
  footer {
    position: absolute;
    top: 290%;
  }
}

@media screen and (max-width: 1025px) {

  /* Profile */
  .profile {
    bottom: 1200%;
  }

  .profile__menu {
    right: -22%;
  }

  .nav__icons {
    top: 20%;
    left: 41%;
  }

  /* Navigation */
  nav {
    .nav__texts {
      width: 15.5%;

      .nav__text:nth-child(3) {
        width: 73.5%;
      }
    }
  }

  /* Header statistics */

  .header__statistics__discord--icon,
  .header__statistics__server--icon {
    width: 13%;
    height: 13%;
  }

  /* News */
  .news__card .news__card--read_more::after {
    bottom: 7%;
    width: 40%;
  }
}

@media screen and (max-width: 920px) {

  /* Header Statistics */
  .header__statistics {
    height: 20vh;

    .header__statistics__discord--text,
    .header__statistics__server--text {
      font-size: 45px;
    }

    .header__statistics__server--text {
      left: 8%;
    }

    .header__statistics__discord--icon,
    .header__statistics__server--icon {
      width: 13%;
      height: 13%;
      margin-bottom: 1%;
    }
  }

  /* Navigation */
  nav {
    .nav__texts {
      width: 16.5%;

      .nav__text:nth-child(3) {
        width: 74.5%;
      }
    }
  }

  /* Main content */

  main .container-fluid {
    padding: 25%;
    padding-bottom: 0;
    top: 50%;
  }

  /* News */
  .news--caption {
    left: 24%;
    bottom: 99%;
  }

  /* Footer */
  footer {
    top: 210%;

    .author {
      left: 9%;
    }
  }
}

@media screen and (max-width: 850px) {

  /* Header Statistics */
  .header__statistics {
    height: 20vh;

    .header__statistics__discord--text,
    .header__statistics__server--text {
      font-size: 45px;
    }

    .header__statistics__server--text {
      left: 8%;
    }

    .header__statistics__discord--icon,
    .header__statistics__server--icon {
      width: 15%;
      height: 15%;
    }
  }

  /* Navigation */
  nav {

    .nav__texts {
      width: 18%;

      .nav__text:nth-child(3) {
        width: 73%;
      }
    }
  }

  .close {
    right: 120px;
  }

  /* Profile */
  .profile {
    right: 125%;
    bottom: 1200%;
  }

  /* Main content */

  main .container-fluid {
    padding: 20%;
    padding-bottom: 0;
    top: 50%;
  }

  /* Footer */
  footer {
    top: 280%;
  }
}

@media screen and (max-width: 550px) {

  /* Header statistics */
  .header__statistics {
    margin-top: 10%;

    .header__statistics__discord--icon,
    .header__statistics__server--icon {
      width: 15%;
      height: 15%;
    }

    .header__statistics__discord--text,
    .header__statistics__server--text {
      font-size: 30px;
    }
  }

  /* Navigation */
  nav {
    .nav__texts {
      width: 28%;

      .nav__text:nth-child(3) {
        width: 73%;
      }
    }
  }

  /* Responsive navigation */

  .profile {
    bottom: 1000%;
    right: 110%;
  }

  .nav__icons {
    left: 35%;
    top: 15%;
  }

  .header__statistics__server--icon {
    top: -100%;
  }

  /* Main content */

  main .container-fluid {
    padding: 10%;
    padding-bottom: 0;
    top: 55%;
  }

  /* Footer */
  footer {
    top: 300%;
    height: 15vh;
  }
}


@media screen and (max-width: 415px) {

  /* Header statistics */
  .header__statistics {
    margin-top: 10%;
    margin-right: 5%;

    .header__statistics__discord--text,
    .header__statistics__server--text {
      left: 10%;
    }

    .header__statistics__server--icon,
    .header__statistics__discord--icon {
      width: 20%;
    }

    .header__statistics__discord {
      bottom: -25%;
    }

    .header__statistics__server {
      top: 70%;
    }
  }

  /* Navigation */
  nav {

    .nav__texts {
      width: 37%;

      .nav__text:nth-child(3) {
        width: 73%;
      }
    }
  }

  /* News */
  .news__card .news__card--date {
    left: 60%;
  }

  .news__card .news__card--read_more {
    width: 60%;
  }

  /* Footer */
  footer {
    top: 285%;

    .author,
    .copyright {
      left: 0;
    }
  }
}


@media screen and (max-width: 380px) {

  /* Header statistics */
  .header__statistics {
    margin-top: -5%;

    .header__statistics__server {
      right: 5%;
      top: 90%;

      .header__statistics__server--text {
        left: 10%;
      }
    }
  }


  .header__statistics__discord .header__statistics__discord--icon {
    top: -15%;
    left: 49%;
  }

  /* Profile */
  .profile {
    right: 100%;
    bottom: 900%;
  }

  /* Navigation */
  .nav__icons {
    left: 30%;
  }

  nav {
    .nav__texts {
      width: 40%;

      .nav__text:nth-child(3) {
        width: 73%;
      }
    }
  }

  .close {
    right: 30px;
  }

  /* News */
  .news__card .news__card--date {
    width: 50%;
    left: 50%;
  }

  .news__card .news__card--read_more {
    width: 80%;
    bottom: 15px;
  }

  /* Footer */
  footer {
    height: 20vh;
    top: 350%;
  }
}