/* Определение шрифтов */
@font-face {
  font-family: "Cubic";
  src: url(../fonts/21072.ttf) format("truetype"),
    url(../fonts/21072.ttf.woff) format("woff"),
    url(../fonts/21072.ttf.woff2) format("woff2"),
    url(../fonts/21072.otf) format("opentype");
}

/* Стандартный сброс и применение своих стилей. */

body {
  margin: 0;
  padding: 0;
  font-family: 'Cubic';
}

a:-webkit-any-link {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

/* Header */

header {
  background: url(../images/header_background.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  height: 80vh;
}

.header__caption {
  font-size: 100px;
  margin-right: 12%;
  color: #f3b64d;
  text-transform: uppercase;
}

.header__logo {
  height: 50%;
  position: relative;
  bottom: 40%;
  right: 6%;
}

/* Discord's statistics */
.header__statistics {
  height: 10vh;
  margin-top: 20%;
}

.header__statistics__discord--text {
  position: relative;
  left: 10%;
  font-size: 25px;
  text-align: right;
  background: linear-gradient(to left, rgb(248, 109, 248), orange, yellow);
  background-size: contain;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.header__statistics__discord--icon {
  display: block;
  width: 9%;
  height: 9%;
  transition: all .2s linear;
  opacity: .5;
  position: relative;
  left: 12%;
  top: 5%;

  &:hover {
    opacity: .8;
  }
}

/* Server's statistics */
.header__statistics__server {
  position: relative;
  right: 5%;
  top: 20%;
}

.header__statistics__server--text {
  position: relative;
  left: 37%;
  font-size: 30px;
  background: linear-gradient(to right, #f7c97a, violet);
  background-size: contain;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
}

.header__statistics__server--icon {
  display: block;
  width: 9%;
  height: 9%;
  cursor: pointer;
  position: relative;
  left: 36%;
  top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .5;
  transition: all .2s linear;

  &:hover {
    opacity: .8;
  }
}

/* Players`s profile */
.profile__circle__image {
  width: 70%;
  height: 60%;
  border-radius: 50%;
  margin-left: 2%;
  margin-bottom: 2%;
  outline: none;
}

.profile__menu {
  height: 150%;
  background: linear-gradient(to top, #f7c97a, violet);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.8;
  visibility: hidden;
  position: absolute;
  top: 110%;
  right: 41%;
  border-radius: 5%;
  padding: 3%;

  a {
    font-size: 12px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::after {
      content: '';
      display: block;
      width: 0%;
      height: 1px;
      background-color: #000;
      transition: all .2s linear;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.profile:focus~.profile__menu {
  visibility: visible;
}

/* Navigation */
.nav__icons {
  position: relative;
  left: 10%;
  gap: 5%;
}

.nav__icons--circle {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background: linear-gradient(to right, #f7c97a, violet);
  transition: all .1s linear;
  opacity: .7;

  a {
    position: relative;
    top: 5%;
  }

  i {
    color: rgb(36, 34, 34);
  }

  &:hover {
    font-size: 35px;
    opacity: .9;
  }
}

.nav__text {
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  background: linear-gradient(to right, rgb(248, 114, 248), #feb942);
  background-size: contain;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
  position: relative;

  &:after {
    position: absolute;
    background: linear-gradient(to left, rgb(249, 76, 249), #ffa305);
    background-size: contain;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 25px;
    font-weight: 600;
    left: 0;
    width: 0;
    overflow: hidden;
    transition: all .3s linear;
  }

  &:nth-child(1)::after {
    content: "Главная";
  }

  &:nth-child(2)::after {
    content: "Профиль";
  }

  &:nth-child(3)::after {
    content: "Выйти";
  }

  &:hover:after {
    width: 100%;
  }
}

/* Responsive navigation */
.switcher {
  position: absolute;
  visibility: hidden;
  left: -9999px;
}

.close,
.open {
  cursor: pointer;
  display: none;
  font-size: 40px;
  width: 10%;
}


@media screen and (max-width: 1300px) {

  /* Responsive navigation */
  .open {
    position: relative;
    left: 95%;
  }

  .open,
  .close {
    display: block;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .switcher:checked~nav {
    right: 0;
  }

  nav {
    position: fixed;
    width: 103vw;
    height: 100vh;
    background: linear-gradient(180deg, #00537e, #3aa17e);
    right: -105%;
    top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: .7s;
    z-index: 1;

    .nav__text::after {
      transition: none;
    }
  }

  .nav__icons {
    width: 100%;
    position: relative;
    top: 25%;
    left: 40%;
    display: flex;
    gap: 5%;
  }

  .profile {
    position: relative;
    bottom: 1000%;
    right: 60%;
  }

  .profile__menu {
    right: 124%;
    top: -1190%;
  }

  /* Header statistics */
  .header__statistics__discord {
    flex-direction: column-reverse;
    position: relative;
    bottom: 20%;
    right: 5%;

    .header__statistics__discord--icon {
      top: -30%;
      left: 50%;
    }

    .header__statistics__discord--text {
      text-align: center;
      left: 5%;
    }
  }

  .header__statistics__server {
    flex-direction: column-reverse;
    position: relative;
    top: 20%;
    right: 5%;

    .header__statistics__server--text {
      text-align: center;
      left: 5%;
      background: linear-gradient(to right, #f7c97a, rgb(233, 13, 233));
      background-size: contain;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
  }

  .header__statistics__server--icon {
    top: -80%;
    left: 50%;
  }
}


@media screen and (max-width: 500px) {

  /* Header statistics */
  .header__statistics {
    margin-top: 50%;
  }

  .header__statistics__discord--icon,
  .header__statistics__server--icon {
    width: 20%;
    height: 20%;
  }

  /* Responsive navigation */

  .profile {
    right: 70%;
    bottom: 950%;
  }

  .profile__menu {
    right: 100%;
    top: -840%;
  }

  .nav__icons {
    left: 30%;
    top: 20%;
  }

  .header__statistics__server--icon {
    top: -100%;
  }
}