/* Определение шрифтов */
@font-face {
  font-family: "Cubic";
  src: url(../fonts/21072.ttf) format("truetype"),
    url(../fonts/21072.ttf.woff) format("woff"),
    url(../fonts/21072.ttf.woff2) format("woff2"),
    url(../fonts/21072.otf) format("opentype");
}

/* Стандартный сброс и применение своих стилей. */

body {
  margin: 0;
  padding: 0;
  font-family: 'Cubic';
}

a:-webkit-any-link {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

/* Header */

header {
  background: url(../images/header_background.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}

.header__caption {
  font-size: 100px;
  margin-right: 12%;
  color: #f3b64d;
  text-transform: uppercase;
}

.header__logo {
  height: 50%;
  position: relative;
  bottom: 40%;
  right: 6%;
}

/* Discord's statistics */
.header__statistics {
  height: 10vh;
  margin-top: 20%;
}

.header__statistics__discord--text {
  position: relative;
  left: 10%;
  font-size: 25px;
  text-align: right;
  background: linear-gradient(to left, rgb(248, 109, 248), orange, yellow);
  background-size: contain;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.header__statistics__discord--icon {
  display: block;
  width: 9%;
  height: 9%;
  transition: all .2s linear;
  opacity: .5;
  position: relative;
  left: 12%;
  top: 5%;

  &:hover {
    width: 9.5%;
    height: 9.5%;
    opacity: .8;
  }
}

/* Server's statistics */
.header__statistics__server {
  position: relative;
  right: 5%;
  top: 20%;
}

.header__statistics__server--text {
  position: absolute;
  right: 10%;
  font-size: 30px;
  background: linear-gradient(to right, #f7c97a, violet);
  background-size: contain;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
}

.header__statistics__server--link {
  cursor: pointer;
  position: absolute;
  left: 37%;
  bottom: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  opacity: .7;
  transition: all .2s linear;

  i {
    color: #000;
  }

  &:hover {
    font-size: 75px;
    opacity: 1;
  }
}

/* Players`s profile */
.profile__circle__image {
  width: 70%;
  height: 60%;
  border-radius: 50%;
  margin-left: 2%;
  margin-bottom: 2%;
  outline: none;
}

.profile__menu {
  width: 20%;
  height: 150%;
  background: linear-gradient(to top, #f7c97a, violet);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.8;
  visibility: hidden;
  position: relative;
  top: 100%;
  right: 22.5%;
  border-radius: 5%;

  a {
    font-size: 12px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::after {
      content: '';
      display: block;
      width: 0%;
      height: 1px;
      background-color: #000;
      transition: all .2s linear;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.profile:focus~.profile__menu {
  visibility: visible;
}

/* Navigation */

.nav__icons {
  position: relative;
  left: 10%;
}

.nav__icons--circle {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background: linear-gradient(to right, #f7c97a, violet);
  transition: all .1s linear;
  opacity: .7;

  a {
    position: relative;
    top: 5%;
  }

  i {
    color: rgb(36, 34, 34);
  }

  &:hover {
    font-size: 35px;
    opacity: .9;
  }
}

.nav__text {
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  background: linear-gradient(to right, rgb(248, 114, 248), #feb942);
  background-size: contain;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    background: linear-gradient(to left, rgb(249, 76, 249), #ffa305);
    background-size: contain;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 25px;
    font-weight: 600;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    transition: all .3s linear;
  }

  &:nth-child(1)::after {
    content: "Главная";
  }

  &:nth-child(2)::after {
    content: "Профиль";
  }

  &:nth-child(3)::after {
    content: "Выйти";
  }

  &:hover:after {
    width: 100%;
  }
}